

.toolbar {
  margin-top: 20px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .actions-container {
    display: flex;

    justify-content: space-around;
    .plain-btn {
      height: fit-content;
    }
  }
}

.open .dropdown-menu {
  position: absolute;
  top: 40px;
}

.buttons-container {
  display: flex;
}

.mat-form-field {
  width: 100%;
}