<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{program?.id}} - {{program?.name}}</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="First Name"
                                           [ngModel]="program?.name" (ngModelChange)="program.name" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Versions</h4>
                </div>
                <div class="content">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Title</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let version of program?.versions;index as idx" class="row-table">
                                <td class="text-center">
                                    <div class="form-group">
                                        <label>Version {{idx}}</label>
                                        <input type="text" class="form-control" placeholder="Version"
                                               [ngModel]="version?.name" (ngModelChange)="version.name = $event;checkNumberInput()"
                                               [ngModelOptions]="{standalone: true}">
                                    </div>

                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-fill" (click)="deleteVersion(idx)"
                                            [disabled]="idx == 0 || !canDelete()">
                                        <fa-icon [icon]="['far', 'trash-alt']" size="sm"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Areas</h4>
                </div>
                <div class="content">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let area of program?.areas;index as idx" class="row-table">
                                <td class="text-center">
                                    <div class="form-group">
                                        <label>Area {{idx}}</label>
                                        <input type="text" class="form-control" placeholder="Area"
                                               [ngModel]="area?.name" (ngModelChange)="area.name = $event;checkNumberInput()"
                                               [ngModelOptions]="{standalone: true}">
                                    </div>

                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-fill" (click)="deleteVersion(idx)"
                                            [disabled]="idx == 0 || !canDelete()">
                                        <fa-icon [icon]="['far', 'trash-alt']" size="sm"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content bottom-bar">
                    <button class="btn btn-info btn-fill" (click)="updateProgram()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>