<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Tasks</h4>
                            <p class="category">Backend development</p>
                        </div>
                        <div class="content">
                            <div class="table-full-width">
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Summary</th>
                                                <th class="text-center">Program - Version</th>
                                                <th class="text-center">Report type</th>
                                                <th class="text-center">Severity</th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                        <tr *ngFor = "let bug of bugs?.results">
                                            <td class="text-center">{{bug.id}}</td>
                                            <td class="text-center">{{(bug.summary.length > 25) ? (bug.summary | slice:0:25) + '...' : bug.summary }}</td>
                                            <td class="text-center">{{bug.program.name}} - {{bug.bug_version.name}}</td>
                                            <td class="text-center">{{getName(bug.report_type, 'REPORT_TYPES')}}</td>
                                            <td class="text-center">{{getName(bug.severity, 'SEVERITIES')}}</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>